@charset "UTF-8";
:root {
  /*color*/
  --primery-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196F3;
  --white: #ffffff;
  --fill-icon: #AFB1B8;
  --secondaly: #2F303A;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--white);
  color: var(--primery-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

/* Контейнер */
.container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0% 15px 0% 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0%;
  padding: 0%;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: none;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.address {
  font-family: "Roboto";
  font-style: normal;
  letter-spacing: 0.03em;
}

.address__list li {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address__list li {
    margin-bottom: 0;
  }
}

.address__list li:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .address__list {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
}

.address__text {
  line-height: 1.7;
  text-decoration: none;
  color: var(--white);
}

.address__link {
  line-height: 1.7;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(0.1);
}

.button-card {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
  width: 326px;
}
@media screen and (min-width: 768px) {
  .button-card {
    width: 768px;
    justify-content: center;
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .button-card {
    width: 1200px;
    margin-bottom: 50px;
  }
}

.button-card__item {
  padding: 6px 22px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  background: #F5F4FA;
  color: var(--primery-text-color);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), filter 250ms var(--timing-function);
}
.button-card__item:hover, .button-card__item:focus {
  color: var(--white);
  cursor: pointer;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .card {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* Карточки портфолио */
@media screen and (min-width: 768px) {
  .reclam {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.reclam li {
  width: 450px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .reclam li {
    width: 354px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .reclam li {
    width: 370px;
  }
}

.reclam li:last-child {
  margin-bottom: 0;
}

.reclam-link {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: box-shadow 250ms var(--timing-function);
}
.reclam-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.reclam-backdrop {
  position: relative;
  overflow: hidden;
}

.reclam-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  opacity: 0.9;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.reclam-backdrop:hover::after {
  transform: translateY(0);
}

.reclam-link:hover .reclam-box {
  transform: translateY(0);
}

.reclam-text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white);
}
.reclam-text:hover {
  transform: translateY(0);
}

.reclam-tools {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}
@media screen and (min-width: 768px) {
  .reclam-tools {
    flex-grow: 1;
  }
}

.reclam-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
}

.reclam-item {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.command {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  background: #F5F4FA;
}
@media screen and (min-width: 1200px) {
  .command {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.command__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

/* command-wrapper */
@media screen and (min-width: 768px) {
  .command-wrapper {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .command-wrapper {
    flex-wrap: nowrap;
  }
}

.command-wrapper__list {
  margin-bottom: 30px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border: transparent solid 1px;
}
.command-wrapper__list:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .command-wrapper__list {
    margin-bottom: 0;
  }
}

.command-wrapper__box {
  padding: 30px 122px 24px 122px;
}
@media screen and (min-width: 768px) {
  .command-wrapper__box {
    padding: 30px 74px 24px 74px;
  }
}
@media screen and (min-width: 1200px) {
  .command-wrapper__box {
    padding: 30px 32px;
  }
}

.command-wrapper__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.command-wrapper__speciality {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* command-socials */
.command-socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.command-socials li {
  height: 44px;
}

.command-socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--fill-icon);
  border-radius: 50%;
  outline: none;
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), fill 250ms var(--timing-function);
}
.command-socials__link:hover, .command-socials__link:focus {
  fill: var(--white);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.command-socials__icon {
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.contact {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    flex-direction: row;
    gap: 30px;
  }
}

.contact__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  outline: none;
  color: var(--title-text-color);
  fill: currentColor;
  transition: color 250ms var(--timing-function);
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.clients__title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

/* clients-list */
.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 480px) {
  .clients__list li {
    width: calc((100% - 30px) / 2);
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  border: 1px solid var(--fill-icon);
  border-radius: 4px;
  outline: none;
  fill: var(--fill-icon);
  transition: fill 250ms var(--timing-function), border-color 250ms var(--timing-function);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    flex-wrap: nowrap;
  }
}

.features__list li {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features__list li {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list li {
    width: 270px;
    margin-bottom: 0;
  }
}

.features__list li:last-child {
  margin-bottom: 0;
}

.features__box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  margin-bottom: 10px;
  color: var(--primery-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__item {
  color: var(--title-text-color);
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer {
  text-align: center;
  padding: 60px 0%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondaly);
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer__box {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box {
    width: 1200px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer-join {
  padding: 60px 0%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .footer-join {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.footer-join__title {
  display: block;
  margin-bottom: 20px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}

/* footer-inner */
.footer-join__inner {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-join__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  outline: none;
  fill: var(--white);
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}
.footer-join__link:hover, .footer-join__link:focus {
  background-color: var(--accent-color);
}

.footer-subscription {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .footer-subscription {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subscription {
    margin: 0;
  }
}

.footer-subscription__text {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}

/* subscription-form */
@media screen and (min-width: 1200px) {
  .footer-subscription__form {
    display: flex;
  }
}

.footer-subscription__form input {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 0 15px 16px;
  color: var(--white);
  background-color: var(--secondaly);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-subscription__form input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .footer-subscription__form input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subscription__form input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.footer-subscription__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
@media screen and (min-width: 1200px) {
  .footer-subscription__button {
    padding: 10px 28px;
  }
}

.footer-subscription__icon {
  fill: var(--white);
}

.header {
  padding: 10px 10px 10px 15px;
  border-bottom: 1px solid #ECECEC;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 21px 21px 15px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 24px 0;
  }
}

.header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__mobile-button {
  padding: 0;
  border: 0;
  background-color: var(--white);
}
@media screen and (min-width: 768px) {
  .header__mobile-button {
    display: none;
  }
}

.hero {
  height: 400px;
  padding: 118px 0;
  margin-right: auto;
  margin-left: auto;
  background: var(--secondaly);
  background-position: center;
  background-size: cover;
  background-color: #C4C4C4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background-img-480.jpg);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../../images/hero-background-img-480@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-background-img-768.jpg);
    max-width: 768px;
    height: 400px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../../images/hero-background-img-768@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-background-img-1600.jpg);
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../../images/hero-background-img-1600@2x.jpg);
  }
}

.hero-title {
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.61;
  font-weight: 900;
  letter-spacing: 0.06em;
  color: var(--white);
}
@media screen and (min-width: 1200px) {
  .hero-title {
    max-width: 700px;
    font-size: 44px;
  }
}

.hero-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  font-family: inherit;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  color: var(--white);
  background-color: var(--accent-color);
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.hero-button:hover, .hero-button:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}
.logo .logo-black {
  color: #000000;
}
.logo .logo-white {
  color: var(--white);
}

.modal {
  position: relative;
  padding: 40px;
  top: 50%;
  left: 50%;
  height: 609px;
  width: 450px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scaleX(1);
  transition: transform 250ms var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .modal {
    height: 581px;
    width: 528px;
  }
}

.modal__button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  padding: 9px 9px 10px 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  outline: none;
  background-color: var(--white);
  transition: fill 250ms var(--timing-function);
}
.modal__button:hover, .modal__button:focus {
  fill: var(--accent-color);
}

.modal__icon {
  width: 11px;
  height: 11px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.form-checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.form-checkbox__label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .form-checkbox__label {
    font-size: 14px;
  }
}

.form-checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.form-checkbox__border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primery-text-color);
  border-radius: 3px;
  fill: transparent;
}

.form-checkbox__input:checked + .form-checkbox__border {
  border: none;
  fill: var(--white);
  background-color: var(--accent-color);
}

.form-checkbox__link {
  color: var(--accent-color);
}

.form-checkbox__icon {
  width: 11px;
  height: 8px;
}

.text-form {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

/* form */
.form__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.form__box {
  position: relative;
  height: 40px;
  fill: var(--primery-text-color);
}

.form__box:focus-within .form__icon {
  fill: var(--accent-color);
}

.form__input {
  padding: 12px 12px 12px 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--timing-function);
}

.form__input:focus {
  border-color: var(--accent-color);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
}

/* form__end */
.form__end {
  margin-bottom: 20px;
}

.form__textarea {
  padding: 12px 16px;
  height: 120px;
  outline: none;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}
.form__textarea:focus {
  border-color: var(--accent-color);
}

.form__wrapper::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 48px 0 48px 40px;
  background-color: var(--white);
  display: none;
}
.mobile-menu.is-open {
  display: flex;
  flex-direction: column;
}

.mobile-menu__close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: var(--white);
  transition: fill 250ms var(--timing-function);
}
.mobile-menu__close-button:hover, .mobile-menu__close-button:focus {
  fill: var(--accent-color);
}

.mobile-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mobile-nav__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: auto;
}

.mobile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primery-text-color);
}

.mobile-contact__list {
  margin-bottom: 32px;
}
.mobile-contact__list:last-child {
  margin-bottom: 64px;
}

.mobile-contact__phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}

.mobile-contact__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
}

.mobile-social {
  display: flex;
  gap: 10px;
}
.mobile-social li {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}
.mobile-social li:last-child {
  border: none;
  padding: 0;
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
  transition: color 250ms var(--timing-function);
}
.mobile-social__link:hover, .mobile-social__link:focus {
  color: var(--title-text-color);
  outline: auto;
}

.mobile-social__item {
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}

.nav__list {
  display: flex;
  gap: 50px;
}

.nav__link {
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  outline: none;
  color: var(--primery-text-color);
  transition: color 250ms var(--timing-function);
}

.nav__link:hover,
.nav__link--current,
.mobile-nav__link--current,
.nav__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .nav__link--current::after {
    content: "";
    position: absolute;
    display: block;
    margin-top: 26px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    transition: opacity 250ms var(--timing-function);
  }
}
@media screen and (min-width: 1200px) {
  .nav__link--current::after {
    margin-top: 28px;
  }
}

.work {
  padding-bottom: 94px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

.work__title {
  margin-bottom: 50px;
  text-align: center;
  color: var(--primery-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

/* work-list */
.work__list {
  display: flex;
  gap: 30px;
}

.work__box {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.work__element {
  position: absolute;
  width: 370px;
  padding: 27px 107px;
  border: none;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  white-space: nowrap;
  background: rgba(47, 48, 58, 0.8);
  color: var(--white);
}/*# sourceMappingURL=main.css.map */