.address {
    font-family: 'Roboto';
    font-style: normal;
    letter-spacing: 0.03em;
}

.address__list li {
    margin-bottom: 8px;

& li:last-child {
    margin-bottom: 0;
    }

@media screen and (min-width: 1200px) {
    margin-bottom: 0;
    }
}

.address__list {
@media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    gap: 9px;
    }
}

.address__text {
    line-height: 1.7;
    text-decoration: none;
    
    color: var(--white);
}

.address__link {
    line-height: 1.7;
    text-decoration: none;

    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms var(--timing-function);

&:hover,
&:focus {
    color: var(--accent-color);
    }
}

