.card {
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;

@media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
    
    }
}

/* Карточки портфолио */
.reclam {
@media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    }
    
}

.reclam li {
    margin-bottom: 30px;

@media screen and (min-width: 768px) {
    width: 354px;
    
    margin-bottom: 0;
    }

@media screen and (min-width: 1200px) {
    width: 370px;
    }
}
.reclam li:last-child {
    margin-bottom: 0;
}

.reclam-link {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    
    transition: box-shadow 250ms var(--timing-function);

&:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.reclam-backdrop {
    position: relative;
    overflow: hidden;
}

.reclam-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);

    opacity: 0.9;
    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);
}

.reclam-backdrop:hover::after {
    transform: translateY(0);
}

.reclam-link:hover .reclam-box {
    transform: translateY(0);
}

.reclam-text {
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.55;

    letter-spacing: 0.03em;
    color: var(--white);

&:hover {
    transform: translateY(0);
    }
}

.reclam-tools {
    flex-grow: 1;
    padding: 20px 24px;
    border: 1px solid #EEEEEE;

@media screen and (min-width: 768px) {
    flex-grow: 1;
    }
}

.reclam-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primery-text-color);
}

.reclam-item {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}