.command {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    
    background: #F5F4FA;

@media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
    }
}

.command__title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);

@media screen and (min-width: 1200px) {
    margin-bottom: 50px;

    font-size: 36px;
    }
}

/* command-wrapper */
.command-wrapper {
 @media screen and (min-width: 768px) {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    }

@media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    }
}

.command-wrapper__list {
    margin-bottom: 30px;    

    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    border: transparent solid 1px;

&:last-child {
    margin-bottom: 0;
    }

@media screen and (min-width: 768px) {
    margin-bottom: 0;
    }
}

.command-wrapper__box {
    padding: 30px 122px 24px 122px;

@media screen and (min-width: 768px) {
    padding: 30px 74px 24px 74px;
    }

@media screen and (min-width: 1200px) {
    padding: 30px 32px;
    }
}

.command-wrapper__name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
}

.command-wrapper__speciality {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

/* command-socials */
.command-socials {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.command-socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;

    fill: var(--fill-icon);
    border-radius: 50%;
    outline: none;

    transition: background-color 250ms var(--timing-function),
                box-shadow 250ms var(--timing-function),
                fill 250ms var(--timing-function);

&:hover,
&:focus {
    fill: var(--white);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.command-socials__icon {
    width: 20px;
    height: 20px;

    margin-left: auto;
    margin-right: auto;
}