.footer {
    padding: 60px 0%;

    background-color: var(--secondaly);

.footer__box {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.footer__logo {
    display: flex;
    margin-bottom: 20px;
}
display: none;
}


