.header {
    padding: 10px 0%;
    border-bottom: 1px solid #ECECEC;

.header__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header__logo {
    margin-right: 93px;
}
}

.header__mobile-button {
    padding: 0;
    border: 0;
    
    background-color: var(--white);
}