.header {
    padding: 10px 10px 10px 15px;
    border-bottom: 1px solid #ECECEC;

@media screen and (min-width: 768px) {
    padding: 21px 21px 15px;
    }

@media screen and (min-width: 1200px) {
    padding: 24px 0;
    }
}

.header__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__mobile-button {
    padding: 0;
    border: 0;
    
    background-color: var(--white);

@media screen and (min-width: 768px) {
    display: none;
    }
}