.form-checkbox {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.form-checkbox__label {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 12px;
    line-height: 1.16px;
    letter-spacing: 0.03em;

    color: var(--title-text-color);

@media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71px;
    }
}

.form-checkbox__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    position: absolute;
}

.form-checkbox__border {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 15px;

    border: 2px solid var(--primery-text-color);
    border-radius: 3px;
    fill: transparent;
}

.form-checkbox__input:checked+.form-checkbox__border {
    border: none;
    fill: var(--white);
    background-color: var(--accent-color);
}

.form-checkbox__link {
    color: var(--accent-color);
}

.form-checkbox__icon {
    width: 11px;
    height: 8px;
}