:root {
    /*color*/
    --primery-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --white: #ffffff;
    --fill-icon: #AFB1B8;
    --secondaly: #2F303A;

    // animation
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    // adaptive
    @mixin centeredFlex {
       display: flex;
       justify-content: center;
       align-items: center; 
    }
}
